/*-----------------------------------------------------------Main styling----------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', 'Roboto', 'Trebuchet MS', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

svg > g:last-child > g:last-child {
    pointer-events: none
}

section, div {
    overflow: hidden;
}

#triangle {
    width: 100%;
    height: 100px;
}

h3 {
    font-size: 20px !important;
}

.scrollToTop{
    width: 40px; 
    height: 40px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    opacity: 0.3;
    display: none;
    background: url('https://icon-icons.com/icons2/934/PNG/512/up-arrow-black-square-button-interface-symbol_icon-icons.com_72902.png') no-repeat 0px 0px/40px 40px;
}
.scrollToTop:hover{
    opacity: 0.5;
}

/*-----------------------------------------------------------Header----------------------------------------------------------*/

.navbar-light {
    background-color: #F8F8F8 !important;
}

.navbar-brand {
    font-size: 25px !important;
    color: #00849b !important;
}

.navbar-brand-subtitle {
    font-size: 20px !important;
}

.nav-link {
    color: #00849b !important;
}

.nav-link:hover {
    color: #00333C !important;
}

.logo {
    margin-top: 4px;
    width: 150px;
}

/*-----------------------------------------------------------Methodology----------------------------------------------------------*/

#methodology {
    padding-top: 110px;
    padding-bottom: 50px;
}

.square {
    width: 90%;
    height: auto;
    background-color: white;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 2px 5px #8B8B8B;
}

#methodology p {
    margin: 15px;
    line-height: 25px;
}

.info {
    color: #00333C;
}

.square-top {
    background-color: #00849b;
    color: white !important;
}

@media only screen and (max-width: 576px) {
    #methodology {
        padding-top: 150px;
    }
}

/*-----------------------------------------------------------Page 1----------------------------------------------------------*/

#page1 {
    margin-left: 5%;
    margin-right: 5%;
}

.google-maps {
    position: relative;
    padding-bottom: 50%; 
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    width: 100% !important;
    height: 80% !important;
}

@media only screen and (max-width: 768px) {
    #page1 {
        margin-left: 0;
        margin-right: 0;
    }
    .google-maps {
        height: 450px;
    }
}
/*-----------------------------------------------------------Page 2----------------------------------------------------------*/

.triangle1 {
    height: 100px;
    width: 100%;
    fill: #00849b;
    position: relative;
    bottom: -0.5px;
}

.triangle2 {
    height: 100px;
    width: 100%;
    fill: #00849b;
    position: relative;
    top: -0.5px;
}

#page2 {
    width: 100%;
    height: 500px;
    background-color: #00849b;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
}

#page2 h1, #page2 h2, #page2 h3 {
    color: white;
}

#page2 h2 {
    font-size: 30px;
}

#page2 span {
    font-size: 20px;
    color: #00333C;
}

@media only screen and (max-width: 576px) {
    #page2 {
        height: 800px;
    }
    #page2 h2 {
        font-size: 18px;
    }

    #page2 h3 {
        font-size: 13px !important;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    #page2 {
        height: 850px;
    }
}

/*-----------------------------------------------------------Page 3----------------------------------------------------------*/

#page3 {
    height: 500px;
}

#page3 p {
    text-align: center;
    margin-top: 33%;
    color: white;
}

#large-dot {
    position: relative;
    background-color: #86C7EE;
    box-shadow: inset -25px -25px 40px rgba(0,132,155,.2);
    border-radius: 50%;
    display: inline-block;

    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

#large-dot:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.dot1 {
    top: 15%;
    width: 175px;
    height: 175px;
    font-size: 20px;
}

.dot2 {
    top: 50%;
    width: 150px;
    height: 150px;
    font-size: 14px;
}

.dot3 {
    top: 10%;
    width: 200px;
    height: 200px;
    font-size: 22px;
}

.dot4 {
    top: 55%;
    width: 125px;
    height: 125px;
    font-size: 10px;
}

.dot5 {
    top: 15%;
    width: 150px;
    height: 150px;
    font-size: 15px;
}

.dot6 {
    top: 50%;
    width: 120px;
    height: 120px;
    font-size: 10px;
}

.numberForDots {
    font-size: 28px;
}

@media only screen and (min-width: 1600px) and (max-width: 2650px) {
    .dot1 {
        left: 15%;
    }
    .dot2 {
        left: 15%;
    }
    .dot3 {
        left: 25%;
    }
    .dot4 {
        left: 25%;
    }
    
    .dot5 {
        left: 35%;
    }
    .dot6 {
        left: 35%;
    }
}

@media only screen and (min-width: 1320px) and (max-width: 1600px) {
    .dot1 {
        left: 6%;
    }
    .dot2 {
        left: 13%;
    }
    .dot3 {
        left: 16%;
    }
    .dot4 {
        left: 18%;
    }
    
    .dot5 {
        left: 24%;
    }
    .dot6 {
        left: 28%;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1320px) {
    .dot1 {
        left: 4%;
    }
    .dot2 {
        left: 8%;
    }
    .dot3 {
        left: 10%;
    }
    .dot4 {
        left: 10%;
    }
    
    .dot5 {
        left: 16%;
    }
    .dot6 {
        left: 20%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .dot1 {
        left: 5%;
    }
    .dot2 {
        left: 2%;
    }
    .dot3 {
        left: 7%;
    }
    .dot4 {
        left: 2%;
    }
    
    .dot5 {
        left: 9%;
    }
    .dot6 {
        left: 2%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .dot1, .dot2, .dot3, .dot4, .dot5, .dot6 {
        width: 125px;
        height: 125px;
        font-size: 10px;
    }
    .dot1 {
        left: 4%;
    }
    .dot2 {
        left: 8%;
    }
    .dot3 {
        left: 10%;
    }
    .dot4 {
        left: 12%;
    }
    .dot5 {
        left: 15%;
    }
    .dot6 {
        visibility: hidden;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    #page3 {
        height: 700px;
    }
    .dot1, .dot2, .dot3 {
        top: 0;
        left: 0;
        width: 175px;
        height: 175px;
        font-size: 15px;
        margin-left: 40%;
        margin-right: 40%;
        margin-top: 40px;
        display: block;
    }
    .numberForDots {
        font-size: 15px;
    }
    .dot4, .dot5, .dot6 {
        visibility: hidden;
    }
}

@media only screen and (max-width: 576px) {
    #page3 {
        height: 700px;
    }
    .dot1, .dot2, .dot3 {
        top: 0;
        left: 0;
        width: 175px;
        height: 175px;
        font-size: 15px;
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 40px;
        display: block;
    }
    .numberForDots {
        font-size: 15px;
    }
    .dot4, .dot5, .dot6 {
        visibility: hidden;
    }
}

/*-----------------------------------------------------------Page 4----------------------------------------------------------*/

.triangle3 {
    height: 100px;
    width: 100%;
    fill: #00849b;
    position: relative;
    bottom: -0.5px;
}

.triangle4 {
    height: 100px;
    width: 100%;
    fill: #00849b;
    position: relative;
    top: -0.5px;
}

#page4 {
    width: 100%;
    height: 700px;
    background-color: #00849b;
}

.donutcharttext1, .donutcharttext2, .donutcharttext3 {
    color: white;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: -100px;
}

.donutcharttext1 span, .donutcharttext2 span, .donutcharttext3 span {
    font-size: 20px;
    color: #00333C;
}

.donutcharttext2, .donutcharttext3 {
    display: none;
}

#donutchart1, #donutchart2, #donutchart3 {
    width: 700px;
    height: 500px;
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    margin-left: 32%;
}

@media only screen and (max-width: 576px) {
    #donutchart1, #donutchart2, #donutchart3 {
        zoom: 0.5;
        margin-left: 30%;
    }
    #page4 {
        height: 350px;
    }
    .buttons span {
        font-size: 8px;
        height: 40px !important;
        width: 23% !important;
    }
    .buttons {
        margin-left: 23% !important;
    }

    .panelControlBtn {
        width: 23% !important;
    }
    .donutcharttext1, .donutcharttext2, .donutcharttext3 {
        font-size: 22px;
        margin-top: 0;
        margin-bottom: -40px;
    }

    .donutcharttext1 span, .donutcharttext2 span, .donutcharttext3 span {
        font-size: 12px;
    }
    .panelControlBtn {
        font-size: 8px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    #donutchart1, #donutchart2, #donutchart3 {
        zoom: 0.5;
    }
    #page4 {
        height: 350px;
    }
    .buttons span {
        font-size: 12px;
        height: 40px !important;
    }
    .donutcharttext1, .donutcharttext2, .donutcharttext3 {
        font-size: 22px;
        margin-top: 20px;
        margin-bottom: -50px;
    }

    .donutcharttext1 span, .donutcharttext2 span, .donutcharttext3 span {
        font-size: 12px;
    }
    .panelControlBtn {
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #donutchart1, #donutchart2, #donutchart3 {
        zoom: 0.7;
        margin-left: 30%;
    }
    #page4 {
        height: 450px;
    }
    .buttons span {
        font-size: 12px;
    }
    .donutcharttext1, .donutcharttext2, .donutcharttext3 {
        font-size: 25px;
        margin-top: 30px;
        margin-bottom: -80px;
    }

    .donutcharttext1 span, .donutcharttext2 span, .donutcharttext3 span {
        font-size: 15px;
    }
    .panelControlBtn {
        font-size: 14px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #donutchart1, #donutchart2, #donutchart3 {
        margin-left: 28%;
    }
}

@media only screen and (min-width: 1200px) {
    #donutchart1, #donutchart2, #donutchart3 {
        margin-left: 35%;
    }
}

.buttons {
    margin-left: 25%;
}

button.off { 
    width: 20%;
    height: 25px;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #EDEDED;
    color: #00849b;
    border: none;
}

button.on { 
    opacity: 0.7;
}

.panelControlBtn {
    width: 20%;
    height: 25px;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #EDEDED;
    color: #00849b;
    border: none;
}

.panelControlBtn:hover {
    opacity: 0.7;  
}

.panelControlBtn:focus {
    opacity: 0.7;
}

.panelControlBtn:active {
    opacity: 0.7;
}

.buttons span {
    text-align: center;
    color: #EDEDED;
    width: 20%;
    height: 25px;
    display: inline-block;
    overflow: hidden;
}

/*-----------------------------------------------------------Page 5----------------------------------------------------------*/

#page5 {
    margin-left: 5%;
    margin-right: 5%;
}

@media only screen and (max-width: 768px) {
    #page5 {
        margin-left: 8%;
        margin-right: 8%;
    }
}

#page5 object {
    width: 100%;
    height: 750px;
}

#page5 h1 {
    margin-left: 5%;
    margin-top: 50px;
    overflow: hidden;
    color: #00333C;
}

#page5 div {
    overflow-x: visible !important;
}

#myTable {
    font-family: 'Rubik', 'Roboto', 'Trebuchet MS', sans-serif;
    border-collapse: collapse;
    width: 99.9%;
    font-size: 12px;
}

#myTable td, #myTable th {
    font-family: 'Rubik', 'Roboto', 'Trebuchet MS', sans-serif;
    border: 1px solid #C0C0C0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 2px;
    padding-right: 2px;
}

#myTable tr:nth-child(even){
    background-color: #f2f2f2;
}

#myTable tr:hover {
    background-color: #ddd;
}

#myTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    text-align: left;
    background-color: #00849b;
    color: white;
}

label, .dataTables_info, .paginate_button, select {
    font-family: 'Rubik', 'Roboto', 'Trebuchet MS', sans-serif;
    font-size: 12px;
}

input[type=search], select {
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Rubik', 'Roboto', 'Trebuchet MS', sans-serif;
    font-size: 12px;
}

select {
    width: 90px;
}

input[type=search]{
    width: 250px;                
}

/*-----------------------------------------------------------Footer----------------------------------------------------------*/

#footer {
    width: 100%;
    height: 100px;
    margin: 0;
    margin-top: 2%;
    padding: 0;
    padding-top: 30px;
    text-decoration: none;
    text-align: center;
    background-color: #F8F8F8;
}

#footer a {
    color: #777777;
}

#footer a:hover {
    text-decoration: none;
    color: black;
}

.footer-copy {
    color: #AAAAAA;
    font-size: 14px;
}
